<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TriLEGO創構樂高機器人</title>
<!-- InstanceEndEditable -->
<meta name="description" content="TriLEGO自2010年成立，以堅固的三角形作為組織形象，運用「樂高教具｣為出發點，結合一系列與丹麥LEGO公司合作的教具、開發自編教材，進行教學；包括簡易機械(DUPLO) 、動力機械(SPM)、NXT(EV3)課程。目標在培養學員「三力思考｣－創造力、發明力與解決問題的能力">
<meta name="keywords" content="樂高機器人,動力機械,NXT,簡易機械,樂高,lego,trilego,創構樂高機器人,NXT樂高機器人班">
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="1018" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="220"><a href="index.htm"><img src="images/index_02.jpg" alt="" width="192" height="83" /></a></td>
            <td align="right" valign="top"><ul id="MenuBar1" class="MenuBarHorizontal">
              <li><a class="MenuBarItemSubmenu" href="news01.htm">最新消息<br />
              News</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="news01.htm">重要消息</a></li>
                  <li><a class="MenuBarItemSubmenu" href="news02.htm">活動訊息</a></li>
</ul>
                </li>
              <li><a href="about_triangle01.htm" class="MenuBarItemSubmenu">關於我們<br />
About</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle01.htm">Triangle</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle02.htm">師資介紹</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle03.htm">教室環境</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle04.htm">人員招募</a></li>
                </ul>
              </li>
              <li><a class="MenuBarItemSubmenu" href="course01.htm">課程介紹<br />
                Course
              </a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="course01.htm">幼兒積木創意班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course02.htm">幼兒簡易機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course03.htm">動力機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course04.htm">NXT樂高機器人班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course05.htm">機器人比賽班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course06.htm">樂高科展</a></li></ul>
                </li>
              <li><a class="MenuBarItemSubmenu" href="achievement01.htm">成果展示<br />
              Achievement</a>
              <ul>
                  <li><a class="MenuBarItemSubmenu" href="achievement01.htm">課堂成果</a></li>
                  <li><a class="MenuBarItemSubmenu" href="achievement02.htm">比賽成果</a></li>
</ul></li>
               <li><a class="MenuBarItemSubmenu" href="classroom01.htm">合作教室<br />
              Classroom</a> <ul>
                  <li><a class="MenuBarItemSubmenu" href="classroom01.htm">合作據點</a></li>
                  <li><a class="MenuBarItemSubmenu" href="classroom02.htm">加入我們</a></li>
</ul></li>
              <li><a class="MenuBarItemSubmenu" href="#">學員專區<br />
              Student</a><ul></ul></li>             
            </ul></td>
          </tr>
</table></td>
</tr>

      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> </tr>
          </table></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><!-- InstanceBeginEditable name="content" -->
      <table width="1014" border="0">
        <tr>
          <td width="190" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="about_manu">
            <tr>
              <td><img src="images/about_01.jpg" width="190" height="41" /></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle01.htm" class="about_menuslect">Triangle</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle02.htm" class="about_menuslect">師資介紹</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle03.htm" class="about_menuslect">教室環境</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle04.htm" class="about_menuslect_c">人員招募</a></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
          <td align="center" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/title_about_04.jpg" width="297" height="61" /></td>
              </tr>
            <tr>
              <td><ul>
                <li>具理工相關背景。 </li>
                <li>具幼兒教育相關背景。</li>
                <li> 詳細內容請洽0916-473-539，小侯老師。 </li>
              </ul></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
    <!-- InstanceEndEditable --></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="copyright">&nbsp;</td>
    <td height="40" align="center" class="copyright"><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="50"><a href="https://www.facebook.com/pages/Trilego/493879410679236?ref=ts&amp;fref=ts" target="_blank"><img src="images/index_38.jpg" width="32" height="32" /></a></td>
          <td class="copyright">臺北市中正區晉江街89號(古亭捷運2號出口)        0916-473-539　版權所有©2014 TriLEGO創構樂高機器人. All Rights Reserved.</td>
        </tr>
    </table></td>
    <td class="copyright">&nbsp;</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>      </tr>
  </table></td>
</tr>
</table>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
