<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TriLEGO創構樂高機器人</title>
<!-- InstanceEndEditable -->
<meta name="description" content="TriLEGO自2010年成立，以堅固的三角形作為組織形象，運用「樂高教具｣為出發點，結合一系列與丹麥LEGO公司合作的教具、開發自編教材，進行教學；包括簡易機械(DUPLO) 、動力機械(SPM)、NXT(EV3)課程。目標在培養學員「三力思考｣－創造力、發明力與解決問題的能力">
<meta name="keywords" content="樂高機器人,動力機械,NXT,簡易機械,樂高,lego,trilego,創構樂高機器人,NXT樂高機器人班">
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="1018" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="220"><a href="index.ejs"><img src="images/index_02.jpg" alt="" width="192" height="83" /></a></td>
            <td align="right" valign="top"><ul id="MenuBar1" class="MenuBarHorizontal">
              <li><a class="MenuBarItemSubmenu" href="news01.ejs">最新消息<br />
              News</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="news01.ejs">重要消息</a></li>
                  <li><a class="MenuBarItemSubmenu" href="news02.ejs">活動訊息</a></li>
</ul>
                </li>
              <li><a href="about_triangle01.ejs" class="MenuBarItemSubmenu">關於我們<br />
About</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle01.ejs">Triangle</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle02.ejs">師資介紹</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle03.ejs">教室環境</a></li>
                  <li><a class="MenuBarItemSubmenu" href="about_triangle04.ejs">人員招募</a></li>
                </ul>
              </li>
              <li><a class="MenuBarItemSubmenu" href="course01.ejs">課程介紹<br />
                Course
              </a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="course01.ejs">幼兒積木創意班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course02.ejs">幼兒簡易機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course03.ejs">動力機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course04.ejs">NXT樂高機器人班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course05.ejs">機器人比賽班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="course06.ejs">樂高科展</a></li></ul>
                </li>
              <li><a class="MenuBarItemSubmenu" href="achievement01.ejs">成果展示<br />
              Achievement</a>
              <ul>
                  <li><a class="MenuBarItemSubmenu" href="achievement01.ejs">課堂成果</a></li>
                  <li><a class="MenuBarItemSubmenu" href="achievement02.ejs">比賽成果</a></li>
</ul></li>
               <li><a class="MenuBarItemSubmenu" href="classroom01.ejs">合作教室<br />
              Classroom</a> <ul>
                  <li><a class="MenuBarItemSubmenu" href="classroom01.ejs">合作據點</a></li>
                  <li><a class="MenuBarItemSubmenu" href="classroom02.ejs">加入我們</a></li>
</ul></li>
              <li><a class="MenuBarItemSubmenu" href="#">學員專區<br />
              Student</a><ul></ul></li>             
            </ul></td>
          </tr>
</table></td>
</tr>

      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> </tr>
          </table></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><!-- InstanceBeginEditable name="content" -->
      <table width="1014" border="0">
        <tr>
          <td width="190" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="about_manu">
            <tr>
              <td><img src="images/about_01.jpg" width="190" height="41" /></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle01.ejs" class="about_menuslect">Triangle</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle02.ejs" class="about_menuslect_c">師資介紹</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle03.ejs" class="about_menuslect">教室環境</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="about_triangle04.ejs" class="about_menuslect">人員招募</a></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
          <td align="center" valign="top"><table width="95%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><img src="images/title_about_02.jpg" width="297" height="61" /></td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher01.jpg" width="160" height="180" /></td>
                  <td>小侯老師<br />
                    2000年國際奧林匹克機器人大賽 台灣區-冠軍<br />
                    2000年國際奧林匹克機器人大賽 韓國漢城-冠軍<br />
                    2002年國際奧林匹克機器人足球賽-冠軍<br />
                    2004年設計比賽自動計時器<br />
                    2005年全國智慧型機器人大賽-優異<br />
                    2006年貝登堡有份公司合作出12冊課本<br />
                    2008年全國智慧型機器人大賽-季軍<br />
                    2009年出書-機器人新世界完全解放你的NXT</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher02.jpg" width="160" height="180" /></td>
                  <td>小楊老師<br />
                    中華科技大學 電子工程系 <br />
                    2007 年冬冬圍棋教室 講師<br />
                    2013年民權國小-機器人講師<br />
                    2013年桃園高傑補習班-機器人講師<br />
                    2013年天喜安親班-機器人講師<br />
                    2013年欣兒園幼兒園-機器人講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher03.jpg" width="160" height="180" /></td>
                  <td>Rhodye老師<br />
中壢高商寒假營隊 講師<br />
芝麻街美語 講師<br />
2011年TriLEGO NXT機器設計專業講師<br />
2011年TriLEGO動力機器人設計專業講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher04.jpg" width="160" height="180" /></td>
                  <td>大唐老師<br />
國立師範大學、芳和國中 講師<br />
2004 年Robot Cup機器人世界盃足球競賽雙人組冠軍<br />
2005年Robot Cup機器人世界盃足球競賽單人組冠軍</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher05.jpg" width="160" height="180" /></td>
                  <td>Nick老師<br />
國立師範大學、芳和國中 講師<br />
2000年習動力機械課程<br />
2005年習電腦機器人課程<br />
2006年北區機器人大賽 第二名<br />
2011年TriLEGO-機器人講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher06.jpg" width="160" height="180" /></td>
                  <td>企鵝老師<br />
國立清華大學<br />
2000年開始學習動力機械相關課程<br />
2005年級開始學習電腦機器人課程<br />
2006年北區機器人大賽 第二名<br />
2011年TriLEGO-機器人講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher07.jpg" width="160" height="180" /></td>
                  <td>紅紅老師<br />
國立政治大學幼兒教育研究所<br />
2009年孜學文教機構輔導老師<br />
2009年Baby Boss職業體驗城任意姐姐<br />
2011年幼兒園品質與創新研究助理<br />
2012年合格幼兒園教師證照<br />
2012年故事島･學習童樂園海星姐姐<br />
2012年FUN TEAM甜甜姐姐<br />
2012年TriLEGO 幼兒師資</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher08.jpg" width="160" height="180" /></td>
                  <td>Apple老師<br />
嶺東科技大學<br />
2004 年艾蒂兒兒童創意美術教學<br />
2007年林欣怡音樂創藝-幼兒塗鴉藝術教學<br />
2011年台中市大安、三光、龍山國小美術社團教師<br />
2011年台中市梧南、永安國小美術專任教師 <br />
2012年TriLEGO-機器人講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><table width="95%" border="0">
                <tr>
                  <td width="180"><img src="images/teacher09.jpg" width="160" height="180" /></td>
                  <td>布丁老師 <br />
林口醒吾科技大學<br />
2012年TriLEGO-機器人講師<br />
2013年童欣安親班-機器人講師<br />
2013年永平芝麻街-機器人講師</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
    <!-- InstanceEndEditable --></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="copyright">&nbsp;</td>
    <td height="40" align="center" class="copyright"><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="50"><a href="https://www.facebook.com/pages/Trilego/493879410679236?ref=ts&amp;fref=ts" target="_blank"><img src="images/index_38.jpg" width="32" height="32" /></a></td>
          <td class="copyright">臺北市中正區晉江街89號(古亭捷運2號出口)        0916-473-539　版權所有©2014 TriLEGO創構樂高機器人. All Rights Reserved.</td>
        </tr>
    </table></td>
    <td class="copyright">&nbsp;</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>      </tr>
  </table></td>
</tr>
</table>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
