<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pccase" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TriLEGO創構樂高機器人</title>
<meta name="description" content="TriLEGO自2010年成立，以堅固的三角形作為組織形象，運用「樂高教具｣為出發點，結合一系列與丹麥LEGO公司合作的教具、開發自編教材，進行教學；包括簡易機械(DUPLO) 、動力機械(SPM)、NXT(EV3)課程。目標在培養學員「三力思考｣－創造力、發明力與解決問題的能力">
<meta name="keywords" content="樂高機器人,動力機械,NXT,簡易機械,樂高,lego,trilego,創構樂高機器人,NXT樂高機器人班">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.17/angular-route.js"></script> -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/underscore/underscore.js"></script>

<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="spry.js"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/app.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body ng-app="pccase">
	<div ng-view></div>
</body>
</html>