<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="1018" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="220"><img src="images/index_02.jpg" alt="" width="192" height="83" /></td>
            <td align="right" valign="top" class="indexmenubar_back"><ul id="MenuBar1" class="MenuBarHorizontal">
              <li><a class="MenuBarItemSubmenu" href="#/news01/">最新消息<br />
              News</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/news01/">重要消息</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/news02/">活動訊息</a></li>
</ul>
                </li>
              <li><a href="#/about_triangle01/" class="MenuBarItemSubmenu">關於我們<br />
About</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle01/">Triangle</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle02/">師資介紹</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle03/">教室環境</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle04/">人員招募</a></li>
                </ul>
              </li>
              <li><a class="MenuBarItemSubmenu" href="#/course01/">課程介紹<br />
                Course
              </a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/course01/">幼兒積木創意班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course02/">幼兒簡易機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course03/">動力機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course04/">NXT樂高機器人班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course05/">機器人比賽班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course06/">樂高科展</a></li></ul>
                </li>
              <li><a class="MenuBarItemSubmenu" href="#/achievement01/">成果展示<br />
              Achievement</a><ul>
                  <li><a class="MenuBarItemSubmenu" href="#/achievement01/">課堂成果</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/achievement02/">比賽成果</a></li>
</ul></li>
               <li><a class="MenuBarItemSubmenu" href="#/classroom01/">合作教室<br />
              Classroom</a><ul>
                  <li><a class="MenuBarItemSubmenu" href="#/classroom01/">合作據點</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/classroom02/">加入我們</a></li>
</ul></li>
              <li><a class="MenuBarItemSubmenu" href="#/sallery/">學員專區<br />
              Student</a><ul></ul></li>             
            </ul></td>
          </tr>
</table></td>
</tr>

      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> </tr>
          </table></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="index_back2">&nbsp;</td>
    <td align="center" class="index_back2"><table width="1018" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/index_09.jpg" width="464" height="459" /></td>
        <td><img src="images/index_10.jpg" width="555" height="459" /></td>
      </tr>
      <tr>
        <td align="right" valign="top"><table width="85%" border="0" cellspacing="0">
          <tr>
            <td width="41" valign="top"><img src="images/index_14.jpg" width="41" height="20" /></td>
            <td><span class="newstitle">2014-03-1 【消息快報】</span><a href="#" class="newslink"><br />
              EV3樂高機器人新開班！</a></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/index_14.jpg" width="41" height="20" /></td>
            <td><span class="newstitle">2014-1-30 【消息快報】</span><a href="#" class="newslink"><br />
              賀！！創意機器人教育推廣榮獲2012 WRO 全國南區區賽國小、國中、高中組多項比賽佳績！！</a></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/index_14.jpg" width="41" height="20" /></td>
            <td><span class="newstitle">2014-1-1 【消息快報】</span><a href="#" class="newslink"><br />
              本教室FTC榮獲創意啟發獎將代表台灣出國比賽!!</a></td>
          </tr>
          <tr>
            <td valign="top">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/index_16.jpg" width="209" height="37" /></td>
          </tr>
          <tr>
            <td><table width="95%" border="0" cellpadding="3" cellspacing="0">
              <tr>
                <td width="15" class="newstext">&nbsp;</td>
                <td class="newstext">atrix Robotic System專屬金屬機構件補充包。內含108片各式金屬件 (除了Base set的零件外, 還有更大更堅固的機構件!) 快速插銷組, 齒輪組, 輪胎。</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td class="index_back2">&nbsp;</td>
  </tr>
  <tr>
    <td class="copyright">&nbsp;</td>
    <td height="40" align="center" class="copyright">&nbsp;</td>
    <td class="copyright">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><table width="1018" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td><img src="images/index_20.jpg" width="206" height="78" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top"><table width="206" border="0" cellpadding="0" cellspacing="3">
          <tr>
            <td><a href="#"><img src="images/index_22.jpg" width="206" height="126" /></a></td>
            </tr>
          <tr>
            <td>3-4歲幼兒創意樂高班 (大樂高)</td>
            </tr>
          <tr>
            <td>強調幼兒能進行基礎辨認、分類、排列，並搭建出當日主題任務，讓幼兒能運用小肌肉功能進行建構、練習手眼協調。</td>
            </tr>
          <tr>
            <td height="25"><a href="#"><img src="images/index_34.jpg" width="77" height="16" /></a></td>
            </tr>
        </table></td>
        <td valign="top"><table width="206" border="0" cellpadding="0" cellspacing="3">
          <tr>
            <td><a href="#"><img src="images/index_24.jpg" width="206" height="126" /></a></td>
            </tr>
          <tr>
            <td>4-7歲幼兒簡易機械班</td>
            </tr>
          <tr>
            <td>幫助幼兒開展幼小銜接的思考能力，幼兒能進行數學、空間、邏輯等思考能力，並搭建出當日主題任務。</td>
            </tr>
          <tr>
            <td height="25"><a href="#"><img src="images/index_34.jpg" width="77" height="16" /></a></td>
            </tr>
        </table></td>
        <td align="center" valign="top"><table width="206" border="0" cellpadding="0" cellspacing="3">
          <tr>
            <td><a href="#"><img src="images/index_26.jpg" width="206" height="126" /></a></td>
            </tr>
          <tr>
            <td>NXT樂高機器人班</td>
            </tr>
          <tr>
            <td>課程必須親自組裝各類機械模型，不斷的測試與發現問題，設法克服與解決，發明出更便利實用的機械工具。</td>
            </tr>
          <tr>
            <td height="25"><a href="#"><img src="images/index_34.jpg" width="77" height="16" /></a></td>
            </tr>
        </table></td>
        <td align="center" valign="top"><table width="206" border="0" cellpadding="0" cellspacing="3">
          <tr>
            <td><a href="#"><img src="images/index_28.jpg" width="206" height="126" /></a></td>
            </tr>
          <tr>
            <td>機器人比賽班</td>
            </tr>
          <tr>
            <td>參賽者的年齡可分為國小組、國中組與高中組；依參賽類型可分為競賽與創意賽兩種。區分為國際與台灣區選拔，區域校際盃。</td>
            </tr>
          <tr>
            <td height="25"><a href="#"><img src="images/index_34.jpg" width="77" height="16" /></a></td>
            </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="copyright">&nbsp;</td>
    <td height="40" align="center" class="copyright"><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="50"><a href="https://www.facebook.com/pages/Trilego/493879410679236?ref=ts&amp;fref=ts" target="_blank"><img src="images/index_38.jpg" width="32" height="32" /></a></td>
          <td class="copyright">臺北市中正區晉江街89號(古亭捷運2號出口)        0916-473-539　版權所有©2014 TriLEGO創構樂高機器人. All Rights Reserved.</td>
        </tr>
    </table></td>
    <td class="copyright">&nbsp;</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>      </tr>
  </table></td>
</tr>
</table>
