<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="1018" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="220"><a href="#/index/"><img src="images/index_02.jpg" alt="" width="192" height="83" /></a></td>
            <td align="right" valign="top"><ul id="MenuBar1" class="MenuBarHorizontal">
              <li><a class="MenuBarItemSubmenu" href="#/news01/">最新消息<br />
              News</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/news01/">重要消息</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/news02/">活動訊息</a></li>
</ul>
                </li>
              <li><a href="#/about_triangle01/" class="MenuBarItemSubmenu">關於我們<br />
About</a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle01/">Triangle</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle02/">師資介紹</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle03/">教室環境</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/about_triangle04/">人員招募</a></li>
                </ul>
              </li>
              <li><a class="MenuBarItemSubmenu" href="#/course01/">課程介紹<br />
                Course
              </a>
                <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/course01/">幼兒積木創意班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course02/">幼兒簡易機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course03/">動力機械班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course04/">NXT樂高機器人班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course05/">機器人比賽班</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/course06/">樂高科展</a></li></ul>
                </li>
              <li><a class="MenuBarItemSubmenu" href="#/achievement01/">成果展示<br />
              Achievement</a>
              <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/achievement01/">課堂成果</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/achievement02/">比賽成果</a></li>
</ul></li>
               <li><a class="MenuBarItemSubmenu" href="#/classroom01/">合作教室<br />
              Classroom</a> <ul>
                  <li><a class="MenuBarItemSubmenu" href="#/classroom01/">合作據點</a></li>
                  <li><a class="MenuBarItemSubmenu" href="#/classroom02/">加入我們</a></li>
</ul></li>
              <li><a class="MenuBarItemSubmenu" href="#/sallery/">學員專區<br />
              Student</a><ul></ul></li>             
            </ul></td>
          </tr>
</table></td>
</tr>

      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> </tr>
          </table></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><!-- InstanceBeginEditable name="content" -->
      <table width="1014" border="0">
        <tr>
          <td width="190" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="about_manu">
            <tr>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="#/rollcall/" class="about_menuslect">點名單</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="#/sallery/" class="about_menuslect_c">薪資表</a></td>
            </tr>
            <tr>
              <td align="center" class="about_menuslect">&nbsp;</td>
            </tr>
          </table></td>
          <td align="center" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>

                <!--body container-->

                <h1>{{datas.name}}</h1>

                <ul class="specs">
                  <li>
                    <span>Date</span>
                    <dl>
                      <dt>{{datas.date}}</dt>
                    </dl>
                  </li>
                  <li>
                    <span>Location</span>
                    <dl>
                      <dt>{{datas.loc}}</dt>
                    </dl>
                  </li>
                  <li>
                    <span>Time</span>
                    <dl>
                      <dt>{{datas.time}}</dt>
                    </dl>
                  </li>
                  <li>
                    <span>Sallery</span>
                    <dl>
                      <dt>{{datas.sallery}}</dt>
                    </dl>
                  </li>
                </ul>
                

                <!--body end-->

              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
    <!-- InstanceEndEditable --></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="copyright">&nbsp;</td>
    <td height="40" align="center" class="copyright"><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="50"><a href="https://www.facebook.com/pages/Trilego/493879410679236?ref=ts&amp;fref=ts" target="_blank"><img src="images/index_38.jpg" width="32" height="32" /></a></td>
          <td class="copyright">臺北市中正區晉江街89號(古亭捷運2號出口)        0916-473-539　版權所有©2014 TriLEGO創構樂高機器人. All Rights Reserved.</td>
        </tr>
    </table></td>
    <td class="copyright">&nbsp;</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>      </tr>
  </table></td>
</tr>
</table>